body {
    background-color: rgb(37, 37, 39);
}
header {
    color: white;
    text-align: center;
}

section {
    background-color: rgb(152, 197, 190);
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0 ,0 ,0 ,0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#text {
    text-align: center;
}
    

